div.navbar
    ul
        li
            a#link-0.active-item(onClick="scrollToNextSection(event, 0)") Home
        li
            a#link-1(onClick="scrollToNextSection(event, 1)") About
        li
            a#link-2(onClick="scrollToNextSection(event, 2)") Projects
        li
            a#link-3.call-to-action(onClick="scrollToNextSection(event, 3)") Contact Me