.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background:rgba(0, 0, 0, 0.9);

    form {
        width: 60%;
        height: 80%;
        background: $section-even;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 0 4rem 4rem 4rem;
        overflow-x: auto;

        p { margin: 0; }

        .header { 
            position: fixed;
            width: 60%;
            left: 20%;
            padding: 1.5rem 4rem;
            margin: 0;
            background: $primary-transparent;

            .col { padding: 0; }

            h2 { 
                float: left; 
                margin: 0;
            }

            .id {
                width: 50px;
                height: 50px;
                background: $section-odd;
                float: left;
                margin-left: 20px;
                border-radius: 10px;

                input[type="number"] {
                    width: 80px;
                    height: 100%;
                    position: relative;
                    left: 4px;
                    background: transparent;
                    color: $text;
                    font-size: 40px;
                    font-family: roboto-bold;
                    box-shadow: none;

                    &:focus-visible { outline: none; }
                }
            }
        }

        .header-space { padding: 4rem; } 

        .image {
            width: 100%;
            height: 200px;
            background: url(/img/placeholder.png);
            background-position: center;
            background-size: cover;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            transition: 0.25s;

            &:hover {
                opacity: 0.6;
                cursor: pointer;
                transition: 0.25s;
            }
        }
    }
}