.navbar {
    z-index: 100;
    color: white;
    position: fixed;
    width: 100%;
    min-height: auto;
    margin: 0;

    ul {
        width: fit-content;
        margin: auto;

        li {
            display: inline-block;

            a {
                color: $text-header;
                font-family: roboto-regular;
                padding: 1rem;
                margin: 2rem 0;
                display: block;
                font-size: 16px;
                transition: 0.25s;
                border: 0;
                background: transparent;

                &:hover {
                    cursor: pointer;
                    color: $text;
                    text-decoration: none;
                    transition: 0.25s;
                }

                &.active-item {
                    color: $primary;
                    font-family: roboto-bold;
                }

                &.call-to-action {
                    border: 1px solid $primary;
                    border-radius: 5px;
                    color: $primary;
                    font-family: roboto-bold;
                    margin-left: 3rem;

                    &.active-item {
                        background: $primary;
                        color: $text-header;
                    }
                    
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}