.animations-container, .stars, .twinkling, .clouds {
    top: 0;
    bottom: 0;
    right: 0;
}

.animations-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .stars, .twinkling, .clouds {
        position: absolute;
    }

    &::after {
        content: "";
        background: linear-gradient($primary-transparent, $section-odd);
        z-index: 4;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .stars {
        background: black url(/img/stars.png) repeat;
        display: block;
        z-index: 1;
        left: 0;
    }
    
    .twinkling{
        width: 10000px;
        height: 100%;
        background: transparent url(/img/twinkling.png) repeat;
        background-size: 1000px 1000px;
        z-index: 2;
        -moz-animation: move-background 70s linear infinite;
        -ms-animation: move-background 70s linear infinite;
        -o-animation: move-background 70s linear infinite;
        -webkit-animation: move-background 70s linear infinite;
        animation: move-background 70s linear infinite;
    }
    
    .clouds{
        width: 10000px;
        height: 100%;
        background: transparent url(/img/clouds.png) repeat;
        background-size: 1000px 1000px;
        z-index: 3;
        -moz-animation: move-background 150s linear infinite;
        -ms-animation: move-background 150s linear infinite;
        -o-animation: move-background 150s linear infinite;
        -webkit-animation: move-background 150s linear infinite;
        animation: move-background 150s linear infinite;
    }
}

@keyframes move-background {
    from { -webkit-transform: translate3d(0px, 0px, 0px); }
    to { -webkit-transform: translate3d(1000px, 0px, 0px); }
}

@-webkit-keyframes move-background {
    from { -webkit-transform: translate3d(0px, 0px, 0px); }
    to { -webkit-transform: translate3d(1000px, 0px, 0px); }
}

@-moz-keyframes move-background {    
    from { -webkit-transform: translate3d(0px, 0px, 0px); }
    to { -webkit-transform: translate3d(1000px, 0px, 0px); }
}

@-webkit-keyframes move-background {
    from { -webkit-transform: translate3d(0px, 0px, 0px); }
    to { -webkit-transform: translate3d(1000px, 0px, 0px); }
}