.about {
    .fluid-container {
        padding: 10rem;
        height: 100%;
    }

    .image {
        padding: 10px 30px;
        
        .frame {
            width: 100%;
            height: 100%;
            background: black;
            border: 10px solid $section-odd;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        }
    }

    .details {
        border: 1px solid $primary;
        border-radius: 5px;
        padding: 1rem;
        margin-top: 2.5rem;
        margin-bottom: 3rem;

        .col:first-child { padding-left: 0; }
        .col:last-child { padding-right: 0; }

        li {
            margin-bottom: 5px;

            &:last-child { margin-bottom: 0; }

            &:hover {
                i { 
                    color: $primary;
                    transition: 0.25s;
                }
            }

            i { 
                color: $text-header;
                padding-right: 10px;
                font-size: 16px;
                transition: 0.25s;
            }

            a {
                color: $text;
                text-decoration: none;
            }
        }
    }
}