section(class="about")
    div(class="fluid-container")
        div(class="center-content")
            div(class="row")

                div(class="col-5 image")
                    div(class="frame")

                div(class="col-7 content")
                    div(class="header")
                        h3 Discover 
                        h2 About Me
                        div(class="section-id")
                            span 01
                    p 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta est elit, a ultrices sapien semper vitae. 
                        | Suspendisse potenti. Nullam non ex felis. Donec vestibulum vel mauris eget aliquet. Proin ultrices, elit sit amet 
                        | ullamcorper pellentesque, est nisi ultrices risus, sit amet sollicitudin magna ligula nec sem.

                    div(class="row details")
                        div(class="col")
                            ul 
                                li 
                                    b Name: 
                                    | Jelmer Halff
                                li 
                                    b Age: 
                                    | 21
                                li 
                                    b Experience: 
                                    | Looking for first job
                                li 
                                    b Location: 
                                    | The Netherlands

                        div(class="col")
                            ul 
                                li 
                                    a(href="https://github.com/jhalff" target="_blank")  
                                        i(class="fa-brands fa-github")
                                        | github.com/jhalff
                                li 
                                    a(href="https://www.linkedin.com/in/jhalff/" target="_blank")  
                                        i(class="fa-brands fa-linkedin-in")
                                        | linkedin.com/in/jhalff
                                    
                    button Download CV
