section(class="home")
    div(class="center-content")
        div(class="content")
            h1 Jelmer Halff 
            h2 
                | Explorer of the 
                span #{"<front/>"}
                |  and 
                span #{"back-end()"}
                |  side of development