section(class="projects")
    div(class="container")
        div(class="header")
            h3 Interested in what I make?
            h2 My Projects
            div(class="section-id")
                span 03