section(class="my-skills")
    div(class="container")
        div(class="header")
            h3 Techniques I have worked with
            h2 My Skills
            div(class="section-id")
                span 02