ul 
    li.title 
        p CMS
    li.category 
        p Main 
    li.item
        a#dashboard.active(onClick="switchToSection(event)") Dashboard
    li.item 
        a#tags(onClick="switchToSection(event)") Tags
    li.category 
        p Content 
    li.item 
        a#projects(onClick="switchToSection(event)") Projects 