.home { 
    .content {
        z-index: 99;
        text-align: center;

        h1 {
            color: $primary; 
            font-family: roboto-bold;
            font-size: 50px;
        }
        h2 {
            font-size: 20px;
        }
        span {
            color: $text-header;
        }
    }

    .scroll-tip {
        position: absolute;
        bottom: 10%;
        left: 10%;
        color: $text-header;
        z-index: 99;
        font-size: 16px;

        &::before {
            content: "";
            width: 70%;
            height: 2px;
            background: $text-header;
            display: block;
            position: relative;
            top: 11px;
            left: -70px;
            border-radius: 10px;
        }
    }
}