.projects {
    .header { margin-bottom: 0; }

    .slider {
        position: relative;
        width: 100%;

        .items {
            position: relative;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            font-size: 0;
            cursor: pointer;
            
            &.active { cursor: grab; }
        }
        
        .item {
            display: inline-block;
            margin-left: 20px;
            user-select: none;
            background: $section-odd;
            width: 32%;
            height: 50vh;
            background-position: center !important;
            background-size: cover !important;
            
            &:first-child { margin-left: 0; }

            .hover-info {
                opacity: 0;
                position: absolute;
                bottom: 0;
                color: $text-header;
                width: 32%;
                height: 100%;
                background: $bg-75;
                text-align: center;
                transition: 0.4s opacity;

                b { font-size: 35px; }
                p { 
                    font-size: 20px;
                    color: $text;
                }
            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                .hover-info { 
                    opacity: 1;
                }
            }
        }
    }
}