div(class="navbar")
    ul
        li
            a(class="active-item" id="link-0" onClick="scrollToNextSection(event, 0)") Home
        li
            a(id="link-1" onClick="scrollToNextSection(event, 1)") About
        li
            a(id="link-2" onClick="scrollToNextSection(event, 2)") Skills
        li
            a(id="link-3" onClick="scrollToNextSection(event, 3)") Projects
        li
            a(id="link-4" class="call-to-action" onClick="scrollToNextSection(event, 4)") Contact Me