div(class="navbar")
    ul
        li
            a(class="active-item" onClick="scrollToNextSection(event, 0)") Home
        li
            a(onClick="scrollToNextSection(event, 1)") About
        li
            a(onClick="scrollToNextSection(event, 2)") Skills
        li
            a(onClick="scrollToNextSection(event, 3)") Projects
        li
            a(class="call-to-action" onClick="scrollToNextSection(event, 4)") Contact Me