.sidebar {
    background: $cms-sidebar;
    height: 100%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 2.5rem;

    p { margin: 0; }

    li {
        padding: 10px 0;

        &.title {
            p {
                color: $text-header;
                font-family: roboto-bold;
                font-size: 30px;
            }
        }

        &.category {
            color: $text-header;
            margin-top: 20px;
        }

        &.item {
            padding: 0;

            &.active a {
                color: $primary;

                &::before {
                    content: "";
                    width: 5px;
                    height: 36px;
                    background: $primary;
                    display: block;
                    position: absolute;
                    left: 0;
                    margin-top: -6px;
                }

                &:hover { opacity: 1; }
            }

            a {
                width: 100%;
                height: 100%;
                display: block;
                padding: 6px 5px;
                color: $text;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}