section.home
    div.scroll-tip
        span Scroll Down
    div.animations-container
        div.stars
        div.twinkling
        div.clouds
    div.center-content
        div.content
            h1 Jelmer Halff 
            h2 
                | Explorer of the 
                span= "<front/>"
                |  & 
                span= "back-end()"
                |  side of development