ul 
    li.title 
        p CMS
    li.category 
        p Main 
    li.item
        a#link-dashboard(href=`/cms?token=${token}`) Dashboard
    li.category 
        p Content 
    li.item 
        a#link-projects(href=`/cms/projects?token=${token}`) Projects 