@import "variables";
@import "components/sky-animations";

.login {
    .content {
        padding: 6rem;
        border-radius: 10px;
        background: linear-gradient($section-even, $section-odd);
        z-index: 200;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        
        p { margin-bottom: 5px; }
        h1 {
            color: $text-header;
            margin-bottom: 40px;
        }
    }
}

.admin {
    height: 100vh;
    background: $section-odd;

    .container { height: 100%; }

    .title {
        height: 10%;
        background: $primary-transparent;
        text-align: center;
        color: $text-header;
        font-family: roboto-bold;
        text-transform: uppercase;
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 { margin: 0; }
    }

    .header {
        margin: 40px 0;
        
        button {
            float: right;
        }
    }

    .projects {
        height: 75%;

        table {
            background: $section-even;
            color: $text;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    
            th, td {
                padding: 10px 20px;
                vertical-align: middle;
    
                img {
                    height: 60px;
                }
    
                button {
                    background: none;
                    padding: 0;
                }
            }
        }
    }

    .modal {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        background:rgba(0, 0, 0, 0.9);

        form {
            width: 60%;
            height: 80%;
            background: $section-even;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 4rem;

            p {
                margin: 0;
            }

            input {

            }

            .header {
                margin-top: 0;
            }
        }
    }
}

.admin, .login {
    input {
        margin-bottom: 20px;
        width: 100%;
        padding: 5px 10px;
        border: 0;
        border-radius: 4px;

        &[type="submit"] {
            background: $primary;
            color: $text-header;
            border: 0;
            padding: 1rem 1.5rem;
            border-radius: 4px;
            font-family: roboto-bold;
            text-transform: uppercase;
            font-size: 14px;
            transition: 0.25s;
            margin-bottom: 0;
            margin-top: 30px;

            &:hover {
                opacity: 0.7;
                transition: 0.25s;
            }
        }
    }
}