@import "variables";
@import "components/sky-animations";

.login {
    .content {
        padding: 6rem;
        border-radius: 10px;
        background: linear-gradient($section-even, $section-odd);
        z-index: 200;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        
        p { margin-bottom: 5px; }
        h1 {
            color: $text-header;
            margin-bottom: 40px;
        }
    
        input {
            margin-bottom: 20px;
            width: 100%;
            padding: 5px 10px;
            border: 0;
            border-radius: 4px;

            &[type="submit"] {
                background: $primary;
                color: $text-header;
                border: 0;
                padding: 1rem 1.5rem;
                border-radius: 4px;
                font-family: roboto-bold;
                text-transform: uppercase;
                font-size: 14px;
                transition: 0.25s;
                margin-bottom: 0;
                margin-top: 30px;

                &:hover {
                    opacity: 0.7;
                    transition: 0.25s;
                }
            }
        }
    }
}