@import "variables";
@import "components/navbar.scss";
@import "components/header.scss";
@import "sections/home.scss";
@import "sections/about.scss";

@font-face {
    font-family: "roboto-regular";
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("fonts/Roboto-Bold.ttf");
}

body {
    color: $text;
    font-family: roboto-regular;
    overflow: hidden;

    button {
        background: $primary;
        color: $text-header;
        border: 0;
        padding: 1rem 2rem;
        border-radius: 4px;
        font-family: roboto-bold;
        text-transform: uppercase;
        font-size: 14px;
        transition: 0.25s;

        &:hover {
            opacity: 0.7;
            transition: 0.25s;
        }
    }

    a {
        text-decoration: none;
        transition: 0.25s;

        &:hover {
            opacity: 0.7;
            transition: 0.25s;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

section {
    height: 100vh;
    width: 100%;

    &:nth-child(even) { background: $section-even; }
    &:nth-child(odd) { background: $section-odd; }
}

.center-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}