.cms {
    height: 100vh;
    background: $section-odd;
    font-family: roboto;
    
    section { 
        padding: 4rem; 
        background: $section-odd !important;

        &.projects {
            height: 100%;
        }
    }

    .full-height { height: 100%; }
    .header button { float: right; }

    .items {
        height: 75vh;
        overflow: auto;
    }

    table {
        background: $cms-sidebar;
        color: $text;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        margin: 0;

        tr:first-child { background: $primary-transparent; }
        
        th { 
            color: $text-header; 
            text-transform: uppercase;
            font-family: roboto-bold;
        }

        th, td {
            padding: 10px 20px;
            vertical-align: middle;

            img { height: 60px; }

            button {
                border: 0;
                font-family: roboto-bold;
                text-transform: uppercase;
                font-size: 14px;
                color: $text;
                padding: 0;
                background: none;

                &.remove { color: $primary; }
            }
        }
    }

    * {
        scrollbar-width: auto;
        scrollbar-color: $text-other #ffffff;
    }

    *::-webkit-scrollbar { width: 10px; }
    *::-webkit-scrollbar-track  { background: $cms-sidebar; }
    *::-webkit-scrollbar-thumb { background-color: $text-other; }
}