.cms {
    height: 100vh;
    background: $section-odd;
    font-family: roboto;
    
    section { 
        padding: 4rem; 
        background: $section-odd !important;

        &.projects {
            height: 100%;
        }
    }

    .full-height { height: 100%; }

    .header {
        span {
            font-size: 34px;
            color: $text;

            &.divider { color: $text-other; }
        }

        button {
            float: right; 

            &#saveButton{
                background: green;
            }
        }
    }

    .item-list {
        height: 75vh;
        overflow-y: auto;
        overflow-x: hidden;

        .item {
            background-color: $section-even;
            border-bottom: 2px solid $section-odd;
            height: 200px;
            transition: .25s;

            h2 { color: $text-header; }

            .img {
                background-position: center !important;
                background-size: cover !important;
            }

            .preview {
                padding: 1rem 1.5rem;
            }

            &:hover {
                border-bottom: 2px solid $primary;
                cursor: pointer;
                transition: .25s;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    }

    * {
        scrollbar-width: auto;
        scrollbar-color: $text-other #ffffff;
    }

    *::-webkit-scrollbar { width: 10px; }
    *::-webkit-scrollbar-track  { background: $cms-sidebar; }
    *::-webkit-scrollbar-thumb { background-color: $text-other; }
}

.cms, .login {
    input, textarea {
        margin-bottom: 20px;
        width: 100%;
        padding: 5px 10px;
        border: 0;
        border-radius: 4px;

        &[type="submit"] {
            background: $primary;
            color: $text-header;
            border: 0;
            padding: 1rem 1.5rem;
            border-radius: 4px;
            font-family: roboto-bold;
            text-transform: uppercase;
            font-size: 14px;
            transition: 0.25s;
            margin-bottom: 0;
            margin-top: 30px;

            &:hover {
                opacity: 0.7;
                transition: 0.25s;
            }
        }
    }

    textarea { height: 200px; }
}

.login .content { 
    z-index: 999; 
    background: $bg-50;
    padding: 50px;
    border-radius: 5px;
}